/* ADD FONTS HERE */

/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* global configuration */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .classname {
    @apply 
  }

  .classname {
    /* custom css */
  }
}

@layer utilities {
  .classname {
    @apply /* tailwind classes */;
  }

  .classname {
    /* custom css here*/
  }
}
